<div class="header">
  <div class="table-title">
    <div class="row">
      <h2>
        <b *ngIf="this.formGroup.value.id"> Edit {{ titlePage }}</b>
        <b *ngIf="!this.formGroup.value.id"> Create {{ titlePage }}</b>
      </h2>
    </div>
  </div>
</div>

<form (submit)="askSave()" [formGroup]="formGroup">
  <div class="form-group">
    <label for="exampleInputTitle">Title</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputTitle"
      formControlName="title"
      aria-describedby="title"
    />
    <small id="emailHelp" class="form-text text-muted">Title of blog</small>
  </div>
  <div class="form-group">
    <label for="exampleInputContent">Content</label>
    <textarea
      formControlName="content"
      class="form-control"
      id="exampleInputContent"
    ></textarea>
  </div>
  <div class="form-group">
    <label for="exampleInputURLImage">URl Image</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputURLImage"
      formControlName="image"
    />
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!formGroup.valid">
    Submit
  </button>
</form>
